.form-fieldset {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (max-width: 767px) {
    padding: 23px 20px 27px;
    margin: 0 -20px 0;
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 23px 70px 27px;
    margin: 0 -70px 0;
  }

  @media (min-width: 1440px) {
    padding: 23px 110px 27px;
    margin: 0;
  }

  border: 0;
  border-top: 3px solid #68B738;

  &--data-cat {
    border: none;
    flex-direction: column;
    justify-content: space-between;


    @media (max-width: 767px) {
      gap: 14px;
    }

    @media (min-width: 768px) {
      gap: 20px;
    }

    @media (min-width: 1440px) {
      width: 570px;
      box-sizing: border-box;
      padding: 0;
    }
  }

  &--radio {
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #E7E7E7;

    @media (max-width: 767px) {
      gap: 25px;
      padding: 23px 20px 27px;
      margin: 0 -20px 0;
      border-left: transparent;
      border-right: transparent;
    }

    @media (min-width: 768px) and (max-width: 1439px) {
      box-sizing: border-box;
      gap: 23px;
      margin: 0;
    }

    @media (min-width: 1440px) {
      box-sizing: border-box;
      gap: 18px;
      width: 570px;
      padding: 24px 28px;
      margin: 0;
      justify-content: flex-start;
      align-items: start;
    }
  }

  &--data-owner {
    justify-content: start;

    @media (min-width: 1440px) {
      display: grid;
      grid-template-columns: 570px 570px;
      gap: 80px;
      margin-left: -110px;
      margin-right: -110px;
      padding-top: 71px;
      padding-bottom: 75px;
    }

  }

  &--additionally {
    justify-content: space-between;

    @media (min-width: 1440px) {
      margin-left: -110px;
      margin-right: -110px;
      padding-top: 52px;
      padding-bottom: 53px;
    }
  }

  &--comment {
    @media (min-width: 1440px) {
      margin-left: -110px;
      margin-right: -110px;
      padding-top: 75px;
      padding-bottom: 80px;
    }
  }

}

.form-fieldset__legend {
  font-family: Oswald;
  font-size: 36px;
  line-height: 36px;
  background-color: #ffffff;
  padding: 0 40px 0;
  margin-left: -40px;
  transform: translateY(-3px);

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 26px;
    margin-left: -20px;
    padding: 0 20px 0;
    width: min-content;
  }

  @media (min-width: 1440px) {

  }
}

.form__cat-description {
  width: 100%;
  border: 1px solid #E7E7E7;

}

