.form-fieldset {
  padding: 0;
  border: 0;
  border-top: 3px solid #68B738;
}


.form-fieldset__container {
  position: relative;

  @media (max-width: 767px) {
    padding: 23px 20px 27px;
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 23px 70px 27px;
    min-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    padding: 23px 110px 27px;
    width: 1440px;
    margin: 0 auto;
  }

  &--data-cat {
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;

    @media (max-width: 767px) {
      gap: 14px;
    }

    @media (min-width: 768px) and (max-width: 1439px) {
      gap: 20px;
      padding-top: 65px;
      padding-bottom: 72px;
      box-sizing: border-box;
      margin: 0 auto;
    }

    @media (min-width: 1440px) {
      width: 570px;
      box-sizing: border-box;
      padding: 0;
    }
  }

  &--radio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #E7E7E7;

    @media (max-width: 767px) {
      gap: 25px;
      border-left: transparent;
      border-right: transparent;
    }

    @media (min-width: 768px) and (max-width: 1439px) {
      box-sizing: border-box;
      gap: 18px;
      min-width: auto;
      width: 628px;
      margin: 0 auto;
      padding-left: 26px;
      padding-bottom: 27px;
    }

    @media (min-width: 1440px) {
      box-sizing: border-box;
      gap: 18px;
      width: 570px;
      padding: 24px 28px;
      margin: 0;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &--data-owner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media (min-width: 768px) and (max-width: 1439px) {
      gap: 20px;
      padding-top: 71px;
      padding-bottom: 70px;
    }

    @media (min-width: 1440px) {
      display: grid;
      grid-template-columns: 570px 570px;
      gap: 80px;
      padding-top: 71px;
      padding-bottom: 75px;
    }
  }

  &--comment {
    @media (min-width: 768px) and (max-width: 1439px) {
      padding-top: 82px;
      padding-bottom: 88px;
    }

    @media (min-width: 1440px) {
      padding-top: 75px;
      padding-bottom: 80px;
    }
  }

  &--additionally {
    justify-content: space-between;

    @media (min-width: 768px) and (max-width: 1439px) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 53px;
      padding-bottom: 45px;
      justify-content: flex-start;
      column-gap: 100px;
      row-gap: 25px;
    }

    @media (min-width: 1440px) {
      padding-top: 52px;
      padding-bottom: 53px;
    }
  }
}

.form-fieldset__container-legend {
  position: absolute;
  top: -20px;

  font-family: Oswald;
  font-size: 36px;
  line-height: 36px;
  background-color: #ffffff;
  padding: 0 40px 0;

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 26px;
    padding: 0 20px 0;
    width: min-content;
  }
}

