.page {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 24px;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__form-data-cat {

    @media (min-width: 768px) and (max-width: 1439px) {
      width: 100%;
    }

    @media (min-width: 1440px) {
      display: flex;
      flex-wrap: wrap;
      gap: 80px;
      border-color: transparent;
      margin: 0;
      padding: 0;
      padding-bottom: 74px;
      padding-top: 65px;
    }
  }
}

.page--background {

  @media (min-width: 1440px) {
    &::after {
      position: absolute;
      top: -0;
      left: 50%;
      height: 694px;
      width: 720px;
      content: "";
      z-index: -1;
      background:
        url("../img/hero-background-desktop.jpg") no-repeat,
        linear-gradient(to right, #68B738 0, #68B738 100%);
      background-size: 720px 694px;

      @media (min-resolution: 2dppx) {
        background:
          url("../img/hero-background-desktop@2x.jpg") no-repeat,
          linear-gradient(to right, #68B738 0, #68B738 100%);
        background-size: 720px 694px;
      }
    }
  }
}
