.page-header {
  .p-header-style(@grid-template-columns, @padding) {
    position: relative;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1440px;
    display: grid;
    align-items: start;

    grid-template-columns: @grid-template-columns;
    padding: @padding;
  }

  @media (max-width: 767px) {
    .p-header-style(33px 1fr 24px, 13px 20px);
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    .p-header-style(60px 1fr 436px, 25px 30px);
  }

  @media (min-width: 1440px) {
    .p-header-style(70px 1fr 570px, 55px 110px 29px);
  }
}

.grid-position(@grid-column, @grid-row) {
  grid-column: @grid-column;
  grid-row: @grid-row;
}

.page-header__button-menu {
  .grid-position(3 / -1, 1 / 2);
}

.page-header__logo {
  .grid-position(1 / 2, 1 / 2);
}

.page-header__title {
  .grid-position(2 / 3, 1 / 2);
  padding-top: 10px;

  @media (max-width: 767px) {
    .grid-position(2 / 3, 1 / 2);
    margin: 0 auto;
    padding: 10px;
  }
}

.page-header__nav {
  .menu-style(@display, @f-size, @l-height, @gap) {
    display: @display;
    font-size: @f-size;
    line-height: @l-height;
    gap: @gap;
    flex-wrap: wrap;
  }

  @media (max-width: 767px) {
    .menu-style(none, 20px, 20px, 0);
    position: absolute;
    width: 100%;
    top: 64px;
    left: 0;
    z-index: 1;
  }

  &--open {
    display: flex;
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    .menu-style(flex, 18px, 24px, 33px);
  }

  @media (min-width: 1440px) {
    .menu-style(flex, 20px, 24px, 33px);
    justify-content: end;
  }
}
