.page-header {
  display: grid;
  align-items: center;
  padding: 28px 110px;

  &--tablet {
    grid-template-columns: 33px 1fr 24px;
    padding: 25px 30px;
  }

  &--mobile {
    grid-template-columns: 33px 1fr 24px;
    padding: 13px 20px;
  }
}
