.section-additional-products {

}

.section-additional-products__wrapper {
  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
}

.section-additional-products__promo {
  .promo-style(
    @width,
    @padding,
    @text-align: center,
    @f-family: Lato,
    @f-size: 16px,
    @l-height: 20px,
    @color: #ffffff) {

    width: @width;
    padding: @padding;
    text-align: @text-align;
    font-family: @f-family;
    font-size: @f-size;
    line-height: @l-height;
    color: @color;

    margin: 0 0 0 auto;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  @media (max-width: 767px) {
    .promo-style(280px, 185px 60px 40px);
    background: url("../img/promo-background-mobile.jpg") no-repeat;
    background-color: #68B738;
    background-size: cover;
  }

  @media (max-width: 767px) and (min-resolution: 2dppx) {
    background: url("../img/promo-background-mobile@2x.jpg") no-repeat;
    background-color: #68B738;
    background-size: cover;
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    .promo-style(707px, 70px 125px 70px 420px, left);
    background: url("../img/promo-background-tablet.jpg") no-repeat;
    background-color: #68B738;
    background-size: cover;
  }

  @media (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
    background: url("../img/promo-background-tablet@2x.jpg") no-repeat;
    background-color: #68B738;
    background-size: cover;
  }

  @media (min-width: 1440px) {
    .promo-style(245px, 185px 40px 40px);
    background: url("../img/promo-background-desktop.jpg") no-repeat;
    background-color: #68B738;
    background-size: cover;
  }

  @media (min-width: 1440px) and (max-width: 1439px) and (min-resolution: 2dppx) {
    background: url("../img/promo-background-desktop@2x.jpg") no-repeat;
    background-color: #68B738;
    background-size: cover;
  }
}
