.section-form {
  padding: 0 40px;
}

.section-form__title {

  @media (max-width: 767px) {
    margin-bottom: 37px;
  }

  @media (min-width: 768px) {
    margin-bottom: 55px;
  }
}

.section-form__text {
  @media (max-width: 767px) {
    margin-bottom: 39px;
  }
}

