.section-advantages {
  @media (min-width: 768px) and (max-width: 1439px) {
    padding-top: 45px;
  }

  @media (min-width: 1440px) {
    padding-top: 71px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  list-style: none;

  @media (max-width: 767px) {
    padding: 40px 0 25px;
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    padding-top: 40px;
    padding-bottom: 47px;
    padding-left: 0;
    column-gap: 154px;
    row-gap: 37px;
    border-bottom: 1px solid red;
  }

  @media (min-width: 1440px) {
    gap: 95px;
    padding: 0;
  }
}

.advantages__item {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  min-height: 60px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 10px 0 80px;

  @media (min-width: 768px) {
    width: 230px;
    padding: 151px 26px 57px 0;
    margin: 0;
  }

}

.advantages__item--icon {

  .icon-set(@url) {
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background: url(@url) no-repeat;
    background-size: cover;
    content: "";

    @media (min-width: 768px) {
      top: 40px;
      width: 80px;
      min-height: 80px;
    }
  }

  &_healthy::before {
    .icon-set("../img/advantage-icon_healthy.svg");
  }

  &_cooking::before {
    .icon-set("../img/advantage-icon_cooking.svg");
  }

  &_substitute::before {
    .icon-set("../img/advantage-icon_substitute.svg");
  }

  &_rapidity::before {
    .icon-set("../img/advantage-icon_rapidity.svg");
  }
}
