.section-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;

  &--mobile {

    .font() {
      font-size: 36px;
      line-height: 36px;
      overflow-wrap: break-word;
    }

    &_base {
      .font();
    }

    &_hero {
      .font();
      text-align: center;
      color: #ffffff;
    }
  }
}
